*,
*::before,
*::after {
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

* {
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
}

ul,
ol {
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within {
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--theme-main-text-color);
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat;
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit; /* Makes these elements inherit fonts */
}

/* Remove Arrows/Spinners
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  outline: none;
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body,
html {
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light_Pink: hsl(321, 100%, 78%);
  --Light_Red: hsl(0, 100%, 63%);
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Very_Pale_Blue: hsl(207, 100%, 98%);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  font-family: "Open sans";
}

.button_a {
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  border: 1px solid var(--Pink);
  color: var(--Pink);
  text-transform: capitalize;
  font-size: 2vw;
  box-shadow: 0px 0px 5px var(--Pink);
}

.button_a--pink_solid {
  color: var(--Very_Pale_Blue);
  background-color: var(--Pink);
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
}

.background {
  position: absolute;
  left: 0;
  width: 100%;
}

.background-top {
  top: -110px;
  height: 110px;
}

.background-bottom {
  bottom: -90px;
  height: 50px;
}

#your_users {
  position: relative;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Very_Pale_Blue);
  margin-bottom: 100px;
}

#your_users::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: -100px;
  background-image: url("../public/images/bg-section-top-mobile-2.svg");
  background-size: 100% 100%;
}

#your_users::after {
  content: "";
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 100px;
  background-image: url("../public/images/bg-section-bottom-mobile-2.svg");
  background-size: 100% 100%;
}

#grow-together {
  position: relative;
  background-color: var(--Very_Pale_Blue);
}

#grow-together::before {
  content: "";
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
  background-image: url("../public/images/bg-section-top-mobile-1.svg");
  background-size: 100% 100%;
}

#grow-together::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  background-image: url("../public/images/bg-section-bottom-mobile-1.svg");
  background-size: 100% 100%;
}

#get_started {
  font-size: 0.75em;
  width: clamp(200px, 50vw, 400px);
  margin-top: 2.5em;
}

#cta h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

#newsletter {
  padding-top: 104px;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
  margin-bottom: 5em;
  color: var(--Very_Dark_Cyan);
}
#stats section img {
  width: 10vw;
}
#stats section h2 {
  font-size: 10vw;
}
#stats section p {
  text-align: center;
}

.main_wrapper {
  flex: 1;
}
.main_wrapper header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7em;
  padding: 1.5rem;
}
.main_wrapper header .heading {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.main_wrapper header .heading img {
  display: block;
  width: 6em;
  height: 1em;
}
.main_wrapper header #hero {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;
  max-width: 1017px;
}
.main_wrapper header #hero h1 {
  font-size: 1.5em;
}
.main_wrapper header #hero p {
  max-width: 600px;
  margin-top: 1.5em;
  font-size: 0.9em;
}
.main_wrapper header #hero a {
  width: 60%;
  max-width: 400px;
  margin-bottom: 5em;
  font-size: 2vw;
}
.main_wrapper main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.main_wrapper main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  z-index: 5;
}
.main_wrapper main article img {
  margin-bottom: 2.5em;
}
.main_wrapper main article p {
  font-size: 3vw;
}
.main_wrapper main article #grow-together {
  background-color: var(--Very_Pale_Blue);
}
.main_wrapper main article .content {
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.main_wrapper main article .content img {
  padding: 0 1.7em;
}
.main_wrapper main article .content .color {
  filter: invert(1);
  z-index: 5;
}
.main_wrapper main footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 6.5rem;
  padding: 0 28px;
  background-color: var(--Very_Dark_Cyan);
  color: white;
}
.main_wrapper main footer section p {
  text-align: left;
}
.main_wrapper main footer h2 {
  margin-bottom: 1rem;
}
.main_wrapper main footer form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-top: 32px;
}
.main_wrapper main footer form input {
  border: none;
  display: block;
  flex-grow: 1;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  width: 100%;
}
.main_wrapper main footer form .input_error {
  border: 3px solid red;
}
.main_wrapper main footer form button {
  padding: 12px 41px;
  border-radius: 5px;
  background-color: var(--Pink);
  color: white;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s;
  cursor: pointer;
}
.main_wrapper main footer form button:hover {
  background-color: var(--Light_Pink);
}
.main_wrapper main footer .error_msg {
  color: red;
  margin-top: 0.7rem;
}
.main_wrapper main footer .hide {
  display: none;
}
.main_wrapper main footer .footer_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main_wrapper main footer .footer_logo .logo {
  filter: invert(100%) saturate(400%) hue-rotate(50deg) grayscale(100%) contrast(100%) brightness(200%);
  height: 2rem;
  margin-bottom: 24px;
}
.main_wrapper main footer .footer_logo h2 {
  font-size: 3rem;
}
.main_wrapper main footer .contact {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main_wrapper main footer .social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25rem;
}
.main_wrapper main footer .social ul li a i::before {
  font-size: 23px;
}
.main_wrapper main footer::before {
  content: " ";
  position: absolute;
  top: -99px;
  width: 100%;
  height: 100px;
  background-image: url("../public/images/bg-footer-top-mobile.svg");
  background-size: 100% 100%;
}

footer p {
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .main_wrapper i:hover {
    filter: hue-rotate(60deg);
  }
  .main_wrapper header .heading a {
    transition: transform 0.3s;
  }
  .main_wrapper header .heading a:hover {
    transform: scale(1.1);
  }
  .main_wrapper header #hero h1 {
    font-size: 2.5em;
  }
  .main_wrapper header #hero p {
    font-size: 1.25rem;
  }
  .main_wrapper #stats {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main_wrapper #stats section {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .main_wrapper #stats section img {
    width: 46px;
    height: 46px;
    margin: 0;
  }
  .main_wrapper #stats section h2 {
    font-size: 6em;
  }
  .main_wrapper #stats section p {
    font-size: 1.5em;
  }
  .main_wrapper main .button_a--destop {
    border: none;
    padding: 1.5rem 0;
    border-radius: 3rem;
    transition: background-color 0.3s;
  }
  .main_wrapper main .button_a--destop:hover {
    background-color: var(--Light_Pink);
  }
  .main_wrapper main article .content {
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1180px;
    text-align: left;
  }
  .main_wrapper main article .content img {
    flex-shrink: 1;
    max-width: 500px;
  }
  .main_wrapper main article .content .description {
    flex-grow: 1;
  }
  .main_wrapper main article .content .description h2 {
    font-size: 2.5rem;
    margin-bottom: 1.65em;
  }
  .main_wrapper main article .content .description p {
    font-size: 1rem;
  }
  .main_wrapper main article a {
    max-width: 400px;
  }
  .main_wrapper main article:nth-child(even) .content {
    flex-direction: row;
  }
  .main_wrapper main footer {
    flex-direction: row-reverse;
    padding: 6.5rem 4rem;
    align-items: flex-start;
  }
  .main_wrapper main footer #newsletter {
    padding-top: 0;
    max-width: 520px;
  }
  .main_wrapper main footer p {
    display: block;
    width: 75%;
  }
  .main_wrapper main footer form {
    flex-direction: row;
    align-items: baseline;
  }
  .main_wrapper main footer .social ul li a:hover {
    filter: saturate(150%) hue-rotate(-50deg);
    color: blue;
  }
  .main_wrapper main footer::before {
    background-image: url("../public/images/bg-footer-top-desktop.svg");
  }
  #grow-together::before {
    background-image: url("../public/images/bg-section-top-desktop-1.svg");
  }
  #grow-together::after {
    background-image: url("../public/images/bg-section-bottom-desktop-1.svg");
  }
  #your_users::after {
    background-image: url("../public/images/bg-section-bottom-desktop-2.svg");
  }
  #your_users::before {
    background-image: url("../public/images/bg-section-top-desktop-1.svg");
  }
  #get_started {
    padding: 25px 100px;
    font-size: 20px;
  }
  #cta {
    margin: 50px 0;
  }
}/*# sourceMappingURL=styles.css.map */