:root {
	//Primary
	--Pink: hsl(322, 100%, 66%);
	--Light_Pink: hsl(321, 100%, 78%);
	--Light_Red: hsl(0, 100%, 63%);
	//Neutral
	--Very_Dark_Cyan: hsl(192, 100%, 9%);
	--Very_Pale_Blue: hsl(207, 100%, 98%);
}
